<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.laert.rootchecker"
    android:versionCode="10"
    android:versionName="3.4">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="34" />

    <!-- Package visibility (API 30+): without these, PackageManager.getPackageInfo()
         throws NameNotFoundException for every package below regardless of whether
         it's actually installed, silently disabling the app-presence checks. -->
    <queries>
        <package android:name="com.noshufou.android.su" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.kingroot.kinguser" />
        <package android:name="com.kingo.root" />
        <package android:name="com.smedialink.oneclickroot" />
        <package android:name="com.alephzain.framaroot" />
        <package android:name="com.chelpus.lackypatch" />
        <package android:name="com.dimonvideo.luckypatcher" />
        <package android:name="com.forpda.lp" />
        <package android:name="com.chelpus.luckypatcher" />
        <package android:name="com.gameguardian.android" />
        <package android:name="com.devadvance.rootcloak" />
        <package android:name="com.devadvance.rootcloakplus" />
        <package android:name="de.robv.android.xposed.installer" />
        <package android:name="com.saurik.substrate" />
        <package android:name="com.amphoras.hidemyroot" />
        <package android:name="com.formyhm.hideroot" />
        <package android:name="me.phh.superuser" />
        <package android:name="org.lsposed.manager" />

        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
    </queries>

    <application
        android:label="Advanced Root Checker"
        android:icon="@drawable/ic_launcher_foreground"
        android:roundIcon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".RootCheckerActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
